<div class="container">
  <app-cockpit (Screated)="onServerCreated($event)" (Bpcreated)="onBlueprintCreated($event)"></app-cockpit>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <app-server-element *ngFor="let serverElement of serverElements" [hello]="serverElement">
        <!-- if u want to pass p or h tags directly from app-server-element component
              use ng-content tag in that component and p tag in this component -->
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red">{{ serverElement.name }}</strong>
          <em *ngIf="serverElement.type === 'blueprint'" style="color: blue;">{{ serverElement.content }}</em>
        </p>
      </app-server-element>
    </div>
  </div>
</div>
